@{
    Layout = null;
}

<!DOCTYPE html>

<html>     
<head>                                                              
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div>
        <h2>從 Controller 傳遞數據到 View畫面</h2>
        <hr />


        ViewData 的答案：  @ViewData["A"]   <br />
        ViewBag 的答案：  @ViewBag.B          <br />
        TempData["C"] 的答案：  @TempData["C"]   <br />
        <hr />
        <br />
    </div>



</body>
</html>

